body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

article.producto {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 250px;
  background-color: #000;
  border-radius: 10px; /* Agregar bordes redondeados */
}

article.producto img {
  max-width: 100%;
  height: auto;
}

article.producto h2 {
  color: #fff; /* Establecer el color del texto como blanco */
}

article.producto p {
  color: #ccc; /* Establecer el color del texto como gris claro */
}

article.producto .precio {
  color: #fff;
  font-size: 1.2em;
  margin-top: 10px;
}

article.producto button {
  background-color: #800080; /* Color morado */
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

article.producto button:hover {
  background-color: #000000;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 8px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* Agregar al final de tu archivo CSS */

article.producto .cantidad-container {
  margin-top: 10px;
}

article.producto .cantidad-btn {
  background-color: #800080;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

article.producto .cantidad {
  font-size: 1.2em;
  margin: 0 10px;
}

article.producto .agregar-carrito-btn {
  background-color: #800080;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

article.producto .agregado-btn {
  background-color: #fff;
  color: #800080;
  padding: 10px;
  border: 2px solid #ffffff;
  cursor: not-allowed;
  border-radius: 5px;
  margin-top: 10px;
}

.cantidad{
  color:#fff;
}
